<a href="https://colab.research.google.com/github/abinhack/ds_experiments/blob/main/Case_Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sb

In [ ]:

input_data = pd.read_csv("drive/MyDrive/data.csv")

In [ ]:

input_data.columns

Index(['label', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10',
       'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19', 'f20',
       'f21', 'f22', 'f23', 'f24', 'f25', 'f26', 'f27', 'f28'],
      dtype='object')

In [ ]:
input_data.desribe()

         count          mean            std  ...        50%        75%         max
label  50000.0  2.684400e-01       0.443152  ...        0.0        1.0         1.0
f1     50000.0  4.489459e+06  721162.091909  ...  4627590.5  4992968.0   7126222.0
f2     50000.0  1.528918e+04  602282.866345  ...       69.0      186.0  59764357.0
f3     50000.0  2.093005e+03   54547.546789  ...       16.0       28.0   9613889.0
f4     50000.0  4.949580e+00     311.302315  ...        0.0        2.0     66683.0
f5     50000.0  9.718000e-02       0.437058  ...        0.0        0.0        19.0
f6     50000.0  5.502000e-02       0.275743  ...        0.0        0.0         7.0
f7     50000.0  8.501107e+02  100663.142362  ...        6.0       29.0  22435780.0
f8     50000.0  7.005124e+02    7886.279322  ...       41.0      217.0    498925.0
f9     50000.0  7.293860e+00     181.266200  ...        0.0        0.0     21319.0
f10    50000.0  7.200000e-04       0.039994  ...        0.0        0.0         4.0
f11    50000.0  1.400000e-04       0.011831  ...        0.0        0.0         1.0
f12    50000.0  1.845186e+02    9017.809070  ...        0.0        6.0    989972.0
f13    50000.0  3.373800e-01       7.757683  ...        0.0        0.0       936.0
f14    50000.0  9.390000e-02       0.739198  ...        0.0        0.0        40.0
f15    50000.0  9.134000e-02       4.864589  ...        0.0        0.0       885.0
f16    50000.0  0.000000e+00       0.000000  ...        0.0        0.0         0.0
f17    50000.0  9.134000e-02       4.864589  ...        0.0        0.0       885.0
f18    50000.0  8.259200e-01       3.794589  ...        0.0        0.0       211.0
f19    50000.0  1.124148e+01    1393.891975  ...        0.0        0.0    205859.0
f20    50000.0  5.272800e-01      79.626193  ...        0.0        0.0     16454.0
f21    50000.0  4.106220e+00      73.522097  ...        0.0        0.0      9791.0
f22    50000.0  1.559380e+00       6.156446  ...        0.0        1.0       142.0
f23    50000.0  4.429800e+00      16.492674  ...        1.0        3.0       439.0
f24    50000.0  2.600000e-04       0.016123  ...        0.0        0.0         1.0
f25    50000.0  1.380000e-03       0.048354  ...        0.0        0.0         3.0
f26    50000.0  1.320000e-03       0.040967  ...        0.0        0.0         2.0
f27    50000.0  5.800000e-04       0.034924  ...        0.0        0.0         3.0
f28    50000.0  2.400000e-04       0.015490  ...        0.0        0.0         1.0

[29 rows x 8 columns]

In [ ]:
input_data.head()

   label       f1    f2   f3  f4  f5  f6  ...  f22  f23  f24  f25  f26  f27  f28
0      1  4438827  2858   95  20   0   1  ...    9    3    0    0    0    0    0
1      1  4145089  4728  199  10   0   0  ...    1    1    0    0    0    0    0
2      1  4409677  1240   35   6   0   0  ...    2    0    0    0    0    0    0
3      1  4705142  6249  152   7   0   0  ...    1    1    0    0    0    0    0
4      1  4424842  4446   78  21   0   0  ...    3    3    0    0    0    0    0

[5 rows x 29 columns]

In [ ]:
for col in input_data.columns:
  percentage_null = (input_data[col]==0).mean()
  print(col, percentage_null)

label 0.73156
f1 0.00072
f2 0.00448
f3 0.00458
f4 0.57428
f5 0.9373
f6 0.95186
f7 0.22744
f8 0.01978
f9 0.86586
f10 0.99958
f11 0.99986
f12 0.57428
f13 0.9373
f14 0.95186
f15 0.96314
f16 1.0
f17 0.96314
f18 0.8682
f19 0.93682
f20 0.99522
f21 0.96558
f22 0.6979
f23 0.4012
f24 0.99974
f25 0.99898
f26 0.99886
f27 0.99964
f28 0.99976

Lot of them are zeros somehting to remember

In [ ]:
##data is imbalanced

In [ ]:

input_data['label'].value_counts(normalize=True)

0    0.73156
1    0.26844
Name: label, dtype: float64

In [ ]:

features = input_data.columns.tolist()
features.remove('label')

In [ ]:
correlation_details = input_data[features].corr().abs()

In [ ]:
# Select upper triangle of correlation matrix
upper = correlation_details.where(np.triu(np.ones(correlation_details.shape), k=1).astype(np.bool))

# Find features with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.70)]

In [ ]:
len(to_drop)

3

only three are correlated

In [ ]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(input_data[features], input_data['label'], test_size = 0.25, random_state = 42)

In [ ]:

# Import the model we are using
from sklearn.ensemble import RandomForestClassifier
# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42,max_depth=6)
# Train the model on training data
rf.fit(x_train, y_train);

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix

In [ ]:

confusion_matrix(y_test,rf.predict(x_test))

array([[9117,   23],
       [ 257, 3103]])

In [ ]:
print(classification_report(y_test,rf.predict(x_test)))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98      9140
           1       0.99      0.92      0.96      3360

    accuracy                           0.98     12500
   macro avg       0.98      0.96      0.97     12500
weighted avg       0.98      0.98      0.98     12500

In [ ]:
print(classification_report(y_train,rf.predict(x_train)))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98     27438
           1       0.99      0.92      0.95     10062

    accuracy                           0.98     37500
   macro avg       0.98      0.96      0.97     37500
weighted avg       0.98      0.98      0.98     37500

In [ ]:
feature_imp_df = pd.DataFrame(data={'features':features,'imp':rf.feature_importances_})
feature_imp_df.sort_values(by='imp',ascending=False)

   features       imp
1        f2  0.222059
3        f4  0.147915
2        f3  0.118117
18      f19  0.099425
17      f18  0.074102
11      f12  0.060686
6        f7  0.056225
7        f8  0.052232
22      f23  0.037954
21      f22  0.035318
0        f1  0.028174
8        f9  0.023917
4        f5  0.009939
12      f13  0.009595
13      f14  0.006040
5        f6  0.005798
16      f17  0.004724
14      f15  0.004300
20      f21  0.002920
19      f20  0.000192
24      f25  0.000107
25      f26  0.000105
26      f27  0.000083
27      f28  0.000024
9       f10  0.000022
23      f24  0.000020
10      f11  0.000008
15      f16  0.000000

In [ ]:

model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(x_train, y_train)
y_pred =model.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.73      1.00      0.84      9140
           1       0.51      0.01      0.01      3360

    accuracy                           0.73     12500
   macro avg       0.62      0.50      0.43     12500
weighted avg       0.67      0.73      0.62     12500